# PACKAGES
workspaces-experimental false
save-prefix "^"
ignore-scripts false
ignore-optional false
ignore-engines false
# REQUESTS
registry "https://registry.yarnpkg.com"
strict-ssl true
# VERSION
version-tag-prefix "v"
version-git-tag "true"
version-git-sign "false"
version-git-message "v%s"
